<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>You created a campsite!</h1>
    <p>{{ newcampsite.getTitle }}</p>
    <p><a href='/'>View your list of campsites.</a></p>
</body>
</html>
